{% extends "_layouts/base" %}
{% block body_class %}view-contact{% endblock %}

{% block sitemeta %}
<title>{{ "Join Mailing List - MavenShake"|t }}</title>
<meta name="description" content="{{ "The example templates for Craft Commerce"|t }}">
{% endblock %}

{% block main %}
{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% from _self import errorList %}

<div class="contact">
  <div class="contact__wrapper">
    <form class="newsletter-form" action="" method="post">
      {{ csrfInput() }}
      <input type="hidden" name="action" value="mailchimp-subscribe/audience/subscribe">
      
      {% set subscribeResponse = mailchimpSubscribe is defined and mailchimpSubscribe.action == 'subscribe' ? mailchimpSubscribe : null %}
      
      {% if subscribeResponse %}
          {% if subscribeResponse.success %}
              <p>Subscribed successfully!</p>
          {% else %}
              <p>An error occured: {{ subscribeResponse.message }}</p>
          {% endif %}
      {% endif %}

      <div>
        <label for="emailInput"{% if subscribeResponse and subscribeResponse.errorCode=='1000' %} class="error"{% endif %}>
            Email:
        </label>
        <input id="emailInput" type="text" name="email" 
            {% if subscribeResponse and not subscribeResponse.success %}value="{{ subscribeResponse.values.email ?? '' }}"{% endif %}/>
      </div>
      
      <div>
          <label for="firstNameInput">First name:</label>
          <input id="firstNameInput" type="text" name="merge_fields[FNAME]" 
              {% if subscribeResponse and not subscribeResponse.success %}value="{{ subscribeResponse.values.FNAME ?? '' }}"{% endif %}/>
      </div>

      <div>
          <label for="lastNameInput">Last name:</label>
          <input id="lastNameInput" type="text" name="merge_fields[LNAME]" 
              {% if subscribeResponse and not subscribeResponse.success %}value="{{ subscribeResponse.values.LNAME ?? '' }}"{% endif %}/>
      </div>


      <input type="submit" name="" value="Subscribe"/>
  </form>
  </div>
</div>
{% endblock %}